//- languages
- var lang = 'ru'

//- current URL page
- var currentURL = '#' 
//-1 -> a.nav-link(href="index.html" class=currentURL == 'index.html' ?  'active' : '')
//-2 -> a.nav-link(href="index.html" class={active : currentURL == 'index.html'}) - короче

//- header
- var title = 'title'

//-description
- var desc = 'description'

//- work paths
- var csspath = './css'
- var jspath = './js'

//- Google Fonts
- var gfonts = false
//- - var gfonts = 'Montserrat:wght@400;600;700;900' // 'Roboto:wght@400;500;700'
//- gfonts += '|PT+Sans' если нужно добавить доп.шрифт к существующему 

- var jquery = false //- jQuery
- var bootstrap = false //- Bootstrap5
- var slick = false //- Slick
- var sliderCSS = false //- Slider Swipper
- var sliderJS = false
- var fawesome = false //- Font Awesome
- var datepicker = false //- Datepicker
- var customselect = false //- Custom Select
- var nicescroll = false //- Nice Scroll
- var simplebar = false //- Simple Bar
- var lazyloading = false //- Lazy Loading (IMG + MAP)

