header.header
  .header__top._container 
    .header__logo
      img(src="../../img/header/logo.png", alt="")
    .header__search
      .search-wrap  
        input(type="text", name="search" placeholder="Поиск товаров")
    .header__buttons
      .header__icons
        a(href="#") 
          img(src="../../img/header/mail.svg", alt="")
        a(href="#") 
          img(src="../../img/header/phone.svg", alt="")
        a(href="#") 
          img(src="../../img/header/map.svg", alt="")
      .header__cart
        a(href="#")
          img(src="../../img/header/shopping-cart.svg", alt="") 
          span Корзина
      .header__login
        a(href="#")
          img(src="../../img/header/user.svg", alt="") 
          span Войти

  .header__bottom-wrap.wrapper
    .header__bottom._container
      .header__cataogue
        a(href="#") 
          img(src="../../img/header/catalogue.svg", alt="")
          span Каталог товаров
      .header__menu
        ul.header__menu-list 
          li.header__menu-link.header__menu-parent
            a(href="#") О компании
          li.header__menu-link.header__menu-parent
            a(href="#") Услуги
          li.header__menu-link.header__menu-parent
            a(href="#") Сервис и ремонт
          li.header__menu-link
            a(href="#") Новости
          li.header__menu-link
            a(href="#") Опт
          li.header__menu-link
            a(href="#") F.A.Q.
          li.header__menu-link
            a(href="#") Контакты
    

    .menu__icon.icon-menu
      span
      span
      span
      