.pagging  
  a(href="#").pagging__arrow

  ul.pagging__list 
    li
      a.pagging__item._active(href="#") 1
    li
      a.pagging__item(href="#") 2
    li
      a.pagging__item(href="#") 3
    li
      a.pagging__item(href="#") 4
    li
      a.pagging__item(href="#") 5

  a(href="#").pagging__arrow 