.hystmodal#myModal(aria-hidden="true")
  .hystmodal__wrap
    .hystmodal__window(role="dialog", aria-modal="true") 
      .hystmodal__title Заголовок модалки
      .hystmodal__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo at aut nisi, officiis dolore dolorem, adipisci obcaecati autem, culpa laborum repellendus aperiam vel unde necessitatibus inventore labore maiores assumenda.

      .hystmodal__btn(data-hystclose) Закрыть окно
      
      button.hystmodal__close(data-hystclose) Закрыть
      